input[type=text] {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid burlywood;
    border-radius: 4px;
}

input[type=button] {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 4px;
}

body {
    text-align: justify;
}

.dice {
    /* HTML symbols */
    font-size: 100px;
    font-weight: 50;
}
span {
    padding: 10px;
}
.dice::after {
    content: '';
    animation: rolling 6s linear infinite;
}

@keyframes rolling {
    0% {
        content: '\2680';
    }

    20% {
        content: '\2681';
    }

    40% {
        content: '\2682';
    }

    60% {
        content: '\2683';
    }

    80% {
        content: '\2684';
    }

    100% {
        content: '\2685';
    }
}